/**
  * @name DiscordDeBrand
  * @author FlurryShy
  * @basedon https://github.com/Goose-Nest/GT-RevertRebrand
  * @description Tries to revert Discords visual changes to pre-rebrand times.
  * @website https://github.com/FlurryShy/DiscordDeBrand
  * @version 0.3
*/

@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

/* [Recommended] Revert CSS variables: colors, fonts */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/variables.css');

/* Generated hardcoded color fixes */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/hardcoded.css');

/* Color overrides */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/colorOverride.css');


/* Individual components: */

/* Revert mentions */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/mentions.css');

/* Revert reactions */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/reactions.css');

/* Revert profile pictures */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/pfps.css');

/* Revert folders (default colors back to old blurple) */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/folders.css');

/* Revert windows wordmark */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/wordmark.css');

/* Revert new user popouts */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/userPopout.css');

/* Revert new role designs */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/roles.css');

/* General changes: */

/* Revert some BD specific elements */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/bd.css');

/* Revert some inputs */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/inputs.css');

/* Revert some SVGs (colors for smaller icons) */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/svgs.css');

/* Revert some other minor things */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/other.css');

/* Remove some newer settings / Nitro settings */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/settings.css');

/* Revert their shitty end of 2023 icon redesigns */
/* by davart154 */
/* @import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/icons.css'); */

/* New minified profile BS */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/newProfileBS.css');



/* -- Very minor things you might want to disable or might not care about -- */
/* Might put them in a separate file */

/* Shame the new guy badge */
div[class*="newMemberBadge"]{
    display: none;
}
img[src^="https://cdn.discordapp.com/role-icons/1328931408772595762/745eb8dd92c6dd9369b456d120bd9217.webp"]{
    display:none;
}

/* Boost-thing in servers */
div[data-list-item-id*="channels___boosts-"]{
    display:none;
}

/* remove server subscription and shop bs */
div[class*="containerDefault"]:has(div[data-list-item-id*="channels___subscriptions"])
{
    display:none;
}
div[class*="containerDefault_"]:has(div[data-list-item-id*="channels___shop"])
{
    display:none;
}

/* Remove "x in voice" in channel list  */
div[class*="container_"]:has( > div[class*="containerPadding_"] > div[class*="bar_"] > svg[class*="voiceChannelsIcon_"]){
    display:none;
}

/* Hide Nitro gift button, language dependent*/
div[aria-label="Send a gift"] {
    display: none;
}

/* Remove Big Nitro Button */
a[href="/store"]{
    display: none;
}

/* Remove Big Store Button */
a[href="/shop"]{
    display: none;
}

/* Public server thing old version, removed? */
.tutorialContainer_c96c45+div { 
	display: none;
}
/* Public server thing, new, always visible BS. */
div[class*="footer_"]:has(> div > div[class*="listItemWrapper_"])
{
    display:none;
}
/* move unread message indicator down again */
div[class*="unreadMentionsFixedFooter_"]
{
    bottom: 0px;
}


/* Remove all kinds of Nitro-Upsell BS */
div[class*="upsell"]{
    display: none;
}
/* Upsell BS in Server-Settings */
div[class*="divider__"]:has( > div > div > button > div[class*="upsellButton__"]){
    display:none;
}

/* Remove "show user profile" button in DMs, language dependent */
/* div[aria-label*="Show User Profile"]{
    display: none; 
}*/

/* Remove video call button in DMs, language dependent */
div[aria-label="Start Video Call"]{
    display: none; 
}

/* Remove help button, language dependent */
div[aria-label="Help"]{
    display: none; 
}

/* Remove Activities, language dependent */
div[class*="buttonContainer_"]:has( > div > svg > foreignObject > div > button[aria-label*="Start an Activity"]){
    display:none;
}
/* Activities in text-channels */
div[id*="channel-attach-activity"]{
    display:none;
}

/* Remove Soundboard, language dependent */
div:has(>button[aria-label*="Open Soundboard"]){
  display:none;
}

/* remove voice effects and emoji other bs from vc */
div[class*="flex_"]:has(> div[class*="voiceEffectsActionBar_"]){
    display:none;
}
/* do not display when others send emoji bs in vc */
div[class*="chat_"] > div[class*="layerContainer_"] > div[class*="container"] > div[class*="emoji_"] > img{
    display:none;
}


/* Remove activity bs, language dependant */
div[class*="buttonContainer_"]:has(div[aria-label*="Play Activities here"]){
	display:none;
}

/* Remove activity / invite friends BS when you are alone in a call */
/* .row_d8e960:has( > div > div > div > [src*="/assets/88565449f84053ba8ea2.svg"]){
    display:none;
}*/
/* Language-Dependant alternative via alt-text. in case they change classes again */
div[class*="row_"]:has( > div > div > div > [alt*="characters playing a game"]){
    display:none;
}

/* Remove Birthday BS */
[href="/activities"]{
    display:none;
}

/* Remove new emoji before channel name BS... by SmolAlli#2706, betterdsicord server */
[class*="mainContentWithChannelEmoji"] > [class*="channelEmojiRightOfIcon"] {
    display: none;
    padding: 6px 0;
}

/* Remove "new" tag on newly created channels */
div[class*="newChannel"]{
    display: none;
}

/* Remove onboarding steps banner */
div[class*="newMemberBanner"]{
    display: none;
}

/* Remove the annoying community-badge on servers */
[class*="flowerStarContainer"]{
    display:none !important;
}

/* Remove wave to welcome thing in chat */
[class*="welcomeCTA"]{
  display: none;
}

[class*="flowerStarContainer"]{
    display:none !important;
}

/* Remove recently played games... who cares? */
div:has(> div[class*="recentGames_"]):NOT(div[class*="userInfoSection_"]),
div:has(+ div[class*="recentGames_"]),
div[class*="recentGames_"]
{
  display:none;
}

/* Change the "APP" badge to "BOT" again ... cause that is what it is */
/* Language dependant cause they re-used the "botTag" classes on forums for original posters... cause those are bots / apps apparently... */
span[class*="botTag_"]:NOT([aria-label*="Original Poster"]) > span[class*="botText_"],
span[class*="botTagCozy_"]:NOT([aria-label*="Original Poster"]) > span[class*="botText_"],
span[class*="botTagRegular_"]:NOT([aria-label*="Original Poster"]) > span[class*="botText_"]{
    visibility: hidden;
}

span[class*="botTag_"]:NOT([aria-label*="Original Poster"]) > span[class*="botText_"]::after,
span[class*="botTagCozy_"]:NOT([aria-label*="Original Poster"]) > span[class*="botText_"]::after,
span[class*="botTagRegular_"]:NOT([aria-label*="Original Poster"]) > span[class*="botText_"]::after{
    content:"BOT";
    visibility: visible;
    display:block;
    position: absolute;
    top:0px;
    left:0px;
}

/* change bright blue to blurple on some embeds */
article[style*="border-color: hsla(236, calc(var(--saturation-factor, 1) * 100%), 50%, 1);"]{
    border-color: var(--old-blurple) !important;
}

/* change X logo back to twitter */
img[aria-label="X"]{
    content: URL(/assets/4cff8a97465555223d09.svg);
}

/* remove clantag BS */
[class*=clanTag] {
    display: none;
}

/* remove app launcher */
[class^=channelAppLauncher_] {
  display:none
}

/* remove activity BS in members-list */
div[aria-label*="Members"] > div > div[role="listitem"]{
    display:none;
}
div[aria-label*="Members"] > h3:has( > span > div > div[role="button"] ){
    display:none;
}
/* div[aria-label*="Members"] > h3:has(> span > div > div[role="button"]){
    display:none;
}*/

/* remove app bs from images, probably language dependant? */
div[aria-label="Edit Image with Apps"]{
    display:none;
}

/* remove the three emoji when hovering over a message */
/* remove separator as well*/
div[aria-label*="Message Actions"] > div > div:has( > div > div[class*="emoji"]),
div[aria-label*="Message Actions"] > div > span:has( > div[aria-label*="Click to react with"]),
div[aria-label*="Message Actions"] > div > div[class*="separator_"]{
    display:none;
}

/* remove the forward button from message-menu */
 div[class*="hoverBarButton_"][aria-label^="Forward"]{
    display:none;
 }

/* remove the forward button from images */
div[class^="optionsContainer_"] > div[class*="container_"][class*="forward_"]{
    display:none;
}

/* slash command selected parameter border color */
div[class*="applicationCommand_"] > span[class*="selectedPill_"]{
    border-color: var(--brand-500) !important;
}

/* remove gif-favorite / unfavorite button background */
 div[class*="gifFavoriteButton_"]{
    background-color: transparent;
 }
 
 /* Remove BS download apps button in server list */
div[class*="listItem__650eb"]:has(div[class*="listItemWrapper__"] > div > svg >foreignObject > div[data-list-item-id*="guildsnav___app-download-button"]){
    display:none;
}
 
 /* remove "recently played xyz" bs status */
 /* did they remove this garbage again? */
 /*
  div[class*="activity_"]:not(:has(> svg[class*="icon_"])):has(> div[class*="textRuler_"] > strong ){
    display:none;
 }/*