/**
  * @name DiscordDeBrand
  * @author FlurryShy
  * @basedon https://github.com/Goose-Nest/GT-RevertRebrand
  * @description Tries to revert Discords visual changes to pre-rebrand times.
  * @website https://github.com/FlurryShy/DiscordDeBrand
  * @version 0.3
*/

@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

/* [Recommended] Revert CSS variables: colors, fonts */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/variables.css');

/* Generated hardcoded color fixes */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/hardcoded.css');


/* Individual components: */

/* Revert mentions */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/mentions.css');

/* Revert reactions */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/reactions.css');

/* Revert profile pictures */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/pfps.css');

/* Revert folders (default colors back to old blurple) */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/folders.css');

/* Revert windows wordmark */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/wordmark.css');

/* Revert new user popouts */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/userPopout.css');

/* Revert new role designs */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/roles.css');

/* General changes: */

/* Revert some BD specific elements */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/bd.css');

/* Revert some inputs */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/inputs.css');

/* Revert some SVGs (colors for smaller icons) */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/svgs.css');

/* Revert some other minor things */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/other.css');

/* Remove some newer settings / Nitro settings */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/settings.css');

/* Revert their shitty end of 2023 icon redesigns */
/* by davart154 */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/icons.css');

/* Vencord-specific fix for additional icons */
/* by thisRedH */
div.button__493d9 > .buttonWrapper_bd4bd7 > * {
    display: block !important;
}

div.buttonWrapper_bd4bd7 {
    --current-color: currentColor;
    background-color: unset;
}

.button__493d9:not(.vc-chatbar-button .button__493d9) .buttonWrapper_bd4bd7 {
    background-color: var(--current-color);
}

/* -- Very minor things you might want to disable or might not care about -- */
/* Might put them in a separate file */

/* Shame the new guy badge */
div[class*="newMemberBadge"]{
    display: none;
}

/* Boost-thing in servers */
div[data-list-item-id*="channels___boosts-"]{
    display:none;
}

/* Hide Nitro gift button, language dependent*/
button[aria-label="Send a gift"] {
    display: none;
}

/* Remove Big Nitro Button */
a[href="/store"]{
    display: none;
}

/* Remove Big Store Button */
a[href="/shop"]{
    display: none;
}

/* Public server thing */
.tutorialContainer__6835f+div { 
	display: none;
}

/* Remove all kinds of Nitro-Upsell BS */
div[class*="upsell"]{
    display: none;
}

/* Remove "show user profile" button in DMs, language dependent */
/* div[aria-label*="Show User Profile"]{
    display: none; 
}*/

/* Remove video call button in DMs, language dependent */
div[aria-label="Start Video Call"]{
    display: none; 
}

/* Remove help button, language dependent */
div[aria-label="Help"]{
    display: none; 
}

/* Remove Activities, language dependent */
button[aria-label*="Start an Activity"]{
  display:none;
}

/* Remove Soundboard, language dependent */
div:has(>button[aria-label*="Open Soundboard"]){
  display:none;
}

/* Remove soundboard and reactions from calls */
[class*="voiceEffectsActionBar__"]{
    display:none;
}

/* Remove activity / invite friends BS when you are alone in a call */
.row_d36dca:has( > div > div > div > [src*="/assets/3ccc7040cdcbc1efaf36.svg"]){
    display:none;
}

/* Remove Birthday BS */
[href="/activities"]{
    display:none;
}

/* Remove new emoji before channel name BS... by SmolAlli#2706, betterdsicord server */
[class*="mainContentWithChannelEmoji"] > [class*="channelEmojiRightOfIcon"] {
    display: none;
    padding: 6px 0;
}

/* Remove "new" tag on newly created channels */
div[class*="newChannel"]{
    display: none;
}

/* Remove onboarding steps banner */
div[class*="newMemberBanner"]{
    display: none;
}

/* Remove the annoying community-badge on servers */
[class*="flowerStarContainer"]{
    display:none !important;
}

/* Remove wave to welcome thing in chat */
[class*="welcomeCTA"]{
  display: none;
}

[class*="flowerStarContainer"]{
    display:none !important;
}

/* Remove recently played games... who cares? */
div:has(> div[class*="recentGames_"]):NOT(div[class*="userInfoSection_"]),
div:has(+ div[class*="recentGames_"]),
div[class*="recentGames_"]
{
  display:none;
}

/* Change the "APP" badge to "BOT" again ... cause that is what it is */
span[class*="botTag_a52f38"] > span[class*="botText_"]{
    visibility: hidden;
}

span[class*="botTag_a52f38"] > span[class*="botText_"]::after{
    content:"BOT";
    visibility: visible;
    display:block;
    position: absolute;
    top:0px;
}