/**
  * @name DiscordDeBrand
  * @author FlurryShy
  * @basedon https://github.com/Goose-Nest/GT-RevertRebrand
  * @description Tries to revert Discords visual changes to pre-rebrand times.
  * @website https://github.com/FlurryShy/DiscordDeBrand
  * @version 0.1
*/

@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

/* [Recommended] Revert CSS variables: colors, fonts */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/variables.css');

/* Generated hardcoded color fixes */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/hardcoded.css');


/* Individual components: */

/* Revert mentions */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/mentions.css');

/* Revert reactions */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/reactions.css');

/* Revert profile pictures */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/pfps.css');

/* Revert folders (default colors back to old blurple) */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/folders.css');

/* Revert windows wordmark */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/wordmark.css');

/* Revert new user popouts */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/userPopout.css');

/* Revert new role designs */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/components/roles.css');

/* General changes: */

/* Revert some BD specific elements */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/bd.css');

/* Revert some inputs */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/inputs.css');

/* Revert some SVGs (colors for smaller icons) */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/svgs.css');

/* Revert some other minor things */
@import url('https://FlurryShy.github.io/DiscordDeBrand/src/general/other.css');


/* -- Very minor things you might want to disable or might not care about -- */
/* Might put them in a separate file */

/* Shame the new guy badge */
.newMemberBadge-3PdStX{
    display: none;
}

/* Boost-thing in servers, probably language dependent */
div[aria-label*="Boost"]{
    display: none;
}

/* Hide Nitro gift button, language dependent*/
button[aria-label="Send a gift"] {
    display: none;
}

/* Remove Big Nitro Button */
a[href="/store"]{
    display: none;
}

/* Public server thing */
.tutorialContainer-2jwoiB+div { 
	display: none;
}

/* Remove all kinds of Nitro-Upsell BS */
div[class*="upsell"]{
    display: none;
}

/* Beta Tag color */
.textBadge-1fdDPJ{
   background-color: #4e5d94 !important; 
}

/* Remove "show user profile" button in DMs, language dependent */
div[aria-label*="Show User Profile"]{
    display: none; 
}

/* Remove video call button in DMs, language dependent */
div[aria-label="Start Video Call"]{
    display: none; 
}

/* Remove help button, language dependent */
div[aria-label="Help"]
{
    display: none; 
}

/* Remove Nitro-option in settings */
div[class*="premiumTab-"]{
    display:none;
}