/* Revert mentions and channel links */
#app-mount .channelMention, 
#app-mount  .mention {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
  padding: 0 1px;
}

#app-mount .channelMention:hover,
#app-mount .mention:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}
