/* new profile bs */
/* Remove Top-Banner (Image / color( */
header > svg[class*="mask"]{
    display:none;
}
/* Remove top-banner in own profile */
div[class*="accountProfileCard_"] > svg[class*="mask_"]{
    display:none;
}

/* change min-size of popout after removing the banner */
div[class*="biteSize_"] > header{
    min-height:0px !important;
}

/* change the margin on your own status on the lower menu bar */
div[class*="biteSize_"]:not(:has(> div[class*="wrapper"])) > header > div >
div[class*="visibleContainer_"]:has(> div[class*="popover_"]) > 
div[class*="statusBubbleOuter"]{
    margin-top: 0px;
}
/* fix for the above when you have no status set */
div[class*="visibleContainer_d0a252"]:NOT(div[class*="fullSize_"]) > div[class*="statusBubbleOuter"]:has( > span > div > svg[class*="addStatusIcon"]){
    margin-top: 50px !important;
}
div[class*="visibleContainer_d0a252"]:has(div[class*="fullSize_"]) > div[class*="statusBubbleOuter"]:has( > span > div > svg[class*="addStatusIcon"]){
    margin-top: 40px !important;
}

/* changer position of edit / delete of your own status */
header > div > div > div[class*="popover_"],
div[class*="headerInner_"] > div > div[class*="visibleContainer_"] > div[class*="popover_"]{
    top:40px !important;
}

/* pull profile-details up a bit  */
div[class*="fullSize_"]:has(> header > div > div > div > div[class*="statusBubbleOuter_"]) > div[class*="body"]{
    margin-top: -30px;
}
/* fix message button in large profile not being clickable when status is set cause of the pulled up profile-details */
 div[class^="headerInner_"] > div[class^="headerButtons_"] > *  button{
	z-index: 2;
}


/* allow for overflow of the pfp pic after removing banner*/
div[class*="root_b9fccc"]{
    overflow:visible;
}

/* move pfp  */
header > div[class*="clickable_"]{
    top:-90px !important;
}
/* move on your own profile on the lower menu bar  */
div[class*="biteSize_"]:not(:has(> div[class*="wrapper"])) > header > div[class*="clickable_"]{
    top:-35px !important;
}
/* move pfp in profiles settings */
header > div[class*="clickable_"]:has(> svg[class*="overlayIco"]){
    top:-15px !important;
}

/* max-height for popouts, scroll if too large */
div[class*="biteSize"][class*="inner_"] > div[class*="body_"]{
    max-height: 60vh;
}

/* force collapsing of the header */
div[class*="userPopoutInner_"] > header{
    min-height: 0px !important;
}
/* move the note below pfp pic */
/* margin for large profile */
div[class*="headerInner_"] > div > div[class*="visibleContainer_"]{
    margin-top:25px;
    position:inherit;	 
}
/* margin for small profile */
header > div > div[class*="visibleContainer_"]{
    margin-top: 0px;
    position:inherit;
}
/* margin for own profile in the lower left */
div[class*="biteSize_"]:HAS(> div[class*="body_"] > div > div > div > button)
 >  header > div > div[class*="visibleContainer_"]{
	margin-top:25px;
	position:inherit;
}

/* disable hover-size-change bs and center-text single lign for status, 3 line bs for bio */
div[class*="content_d0a252"],
div[class*="descriptionClamp_"]{
    max-height: none !important;
    -webkit-line-clamp: 99;
    text-align: left;
}
/* remove view full bio */
button[class*="viewFullBio_"]
{
	display:none;
}

/* remove thougtbubble styling */
div[class*="statusBubbleOuter_"]{
    border:none !important;
    background: none;
    background-color: transparent;
    box-shadow: none;
    max-width: none;
}

/* remove thoughtbubble bs */
div[class*="statusBubbleOuter_"]::before,
div[class*="statusBubbleOuter_"]::after{
    display:none;
}

/* move modview / addfriend / more buttons to where they should be */
.wrapper_cb78f1{
    min-height: 30px;
    position: unset;
    margin-left:auto;
    margin-right: 12px;
    margin-top: 12px;
}
.wrapper_cb78f1:empty{
    display: inherit;
}

/* remove the small bubble bs */
div[class*="invisibleContainer_d0a252"]{
    position:inherit;
    height:0px;
}

/* thoughtbubble background */
span[class*="statusBubble_"]{
    background-color: var(--profile-body-background-color) !important;
    border-radius: var(--radius-xs);
}

/* set max-height for large profile, needed cause of overflow */
div[class*="fullSize_"]{
    max-height: 100%;
}

/* border + corners detail area */
div[class*="fullSize_"][class*="overlay_"]{
	background: oklab(0.431938 0.00109309 -0.0132537 / 0.3) !important;
    border:none;
    border-radius: var(--radius-xs);
}

/* remove bs border from themed profiles */
div[class*="userProfileOuterThemed_"]{
    padding: 0px !important;
}

/* remove white profile color around status */
header > div > div > svg > circle[fill="white"],
div[class*="fullSize_"] > div > svg > circle[fill="white"]{
    fill: none;
}

/* margins for small profile */
div[class*="visibleContainer_d0a252"]:NOT(div[class*="fullSize_d0a252"]){
    margin-right: 10px;
    margin-left: 10px;
}

/* normalize background colors */
div[class*="biteSize_"] {
    background: oklab(0.260828 0.000630535 -0.0075893) !important;
	overflow:visible;
}
div[class*="fullSize_"]:NOT([class*="overlay_"])
{
	overflow:visible;
    background:none !important;
}

/* message-box on popout */
footer > div[class*="channelTextArea_"] > div[class*="inner_"]
{
    background: rgba(255, 255, 255, 0.1)
}

/* normalize role colors */
.container_b64375,
.pill_e6f2d0,
.pill_f9575e,
.button_edead5,
.container_b64375 {
    background: oklab(0.431938 0.00109309 -0.0132537 / 0.3)!important;
    border: 1px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.03) !important;
}

/* remove profile color from activities */
.activity_f00225{
    background:var(--bg-mod-faint) !important;
    border-radius: var(--radius-xs);    
}
.buttonColor_f00225{
    background-color: var(--button-secondary-background);
}

/* fix preview of own server profile */
div[class*="customizationSection_"][class*="preview_"] > div[class*="biteSize_"] > div > header > div > div[class*="visibleContainer_"]{
    margin-top:30px;
}
div[class*="customizationSection_"][class*="preview_"] > div[class*="biteSize_"]:has( > div > header > div > div[class*="visibleContainer_"]){
    margin-top:60px;
}


/* Modview color bs... */
.topRow_d936aa,
.bottomRowAction_d936aa,
.header_f51af4,
.container_f51af4 {
    background-color: rgba(43, 45, 49, 0.8) !important;
}

.theme-light.custom-theme-background{
    --theme-base-color: var(--theme-base-color-dark);
    --theme-text-color: var(--theme-text-color-dark);
    --theme-base-color-hsl: var(--theme-base-color-dark-hsl);
}