/* new profile bs */
/* Remove Top-Banner (Image / color. different for fullSize / biteSize / side profile */
div[class*="fullSize_"] > header > svg[class*="mask"]{
    height: 70px;
    min-height: unset !important;
}
div[class*="fullSize_"] > header > svg[class*="mask"] > foreignObject{
    display:none;
}
div[class*="biteSize"] > header > svg[class*="mask"] {
    display:none;
}
header > svg > foreignObject > div[class*="banner__"]{
    display:none;
}

/* Remove top-banner in own profile */
div[class*="accountProfileCard_"] > svg[class*="mask_"]{
    display:none;
}

/* change min-size of popout after removing the banner */
div[class*="biteSize_"] > header{
    min-height:40px !important;
}

/* pull profile-details up a bit  */
div[class*="fullSize_"]:has(> header > div > div > div > div[class*="statusBubbleOuter_"]) > div[class*="body"]{
    margin-top: -30px;
}
/* fix message button in large profile not being clickable when status is set cause of the pulled up profile-details */
 div[class^="headerInner_"] > div[class^="headerButtons_"] > *  button{
	z-index: 2;
}

/* allow for overflow of the pfp pic after removing banner*/
div[class*="root_b9fccc"]{
    overflow:visible;
}

/* move pfp  */
div[class*="biteSize_"] > header > div[class*="clickable_"]{
    top:-40px !important;
}
/* move on your own profile on the lower menu bar  */
div[class*="biteSize_"]:not(:has(> div[class*="wrapper"])) > header > div[class*="clickable_"]{
    top:-35px !important;
}
/* move pfp in profiles settings */
header > div[class*="clickable_"]:has(> svg[class*="overlayIco"]){
    top:-15px !important;
}
 /* move pfp on self-bots  */
div[class*="biteSize_"]:has(> div[class*="body"] > div[class*="bot_"]) > header > div[class*="avatar_"]{
    top:-35px !important;
}

/* max-height for popouts, scroll if too large */
div[class*="biteSize"][class*="inner_"] > div[class*="body_"]{
    max-height: 60vh;
}

/* force collapsing of the header */
div[class*="userPopoutInner_"] > header{
    min-height: 0px !important;
}
/* move the note below pfp pic */
/* margin for large profile */
div[class*="headerInner_"] > div > div[class*="visibleContainer_"] {
    margin-top: -15px;
    margin-left: 160px;
    margin-right: 10px;
    margin-bottom: 0px;
    position: inherit;
}

div[class*="headerInner_"]:has(> div > div[class*="visibleContainer_"]){
    min-height: 90px;
}

/* margin for small profile */
header > div > div[class*="visibleContainer_"]{
    margin-top: 25px;
    position:inherit;
}
/* margin for own profile in the lower left */
div[class*="biteSize_"]:HAS(> div[class*="body_"] > div > div > div > button)
 >  header > div > div[class*="visibleContainer_"]{
	margin-top:25px;
	position:inherit;
}

/* disable hover-size-change bs and center-text single lign for status, 3 line bs for bio */
div[class*="content_ab8609"],
div[class*="descriptionClamp_"]{
    max-height: none !important;
    -webkit-line-clamp: 99;
    text-align: left;
}
/* remove view full bio */
button[class*="viewFullBio_"]
{
	display:none;
}



/* move modview / addfriend / more buttons to where they should be */
div[class*="fullSize"] > .wrapper_cb78f1{
    min-height: 30px;
    position: unset;
    margin-left:auto;
    margin-right: 12px;
    margin-top: 12px;
}
.wrapper_cb78f1:empty{
    display: inherit;
}

/* fixing the profile sidebar */
div[class*="none_"] > header > div[class*="clickable_"]{
    top:10px !important;
}
div[class*="none_"] > header {
    min-height:90px !important;
}
div[class*="none_"] > header > div > div[class^="visibleContainer_"]{
    margin-top: 100px;
    position:inherit;
}



/* set max-height for large profile, needed cause of overflow */
div[class*="fullSize_"]{
    max-height: 100%;
}

/* border + corners detail area */
div[class*="fullSize_"][class*="overlay_"]{
	background: oklab(0.431938 0.00109309 -0.0132537 / 0.3) !important;
    border:none;
    border-radius: var(--radius-xs);
}

/* remove bs border from themed profiles */
div[class*="userProfileOuterThemed_"]{
    padding: 0px !important;
}

/* remove white profile color around status */
header > div > div > svg > circle[fill="white"],
div[class*="fullSize_"] > div > svg > circle[fill="white"]{
    fill: none;
}



/* normalize background colors */
div[class*="biteSize_"] {
    background: oklab(0.260828 0.000630535 -0.0075893) !important;
	overflow:visible;
}
div[class*="fullSize_"]:NOT([class*="overlay_"])
{
	overflow:visible;
    background:none !important;
}

/* message-box on popout */
footer > div[class*="channelTextArea_"] > div[class*="inner_"]
{
    background: rgba(255, 255, 255, 0.1)
}

/* normalize role colors */
.container_b64375,
.pill_e6f2d0,
.pill_f9575e,
.button_edead5,
.container_b64375 {
    background: oklab(0.431938 0.00109309 -0.0132537 / 0.3)!important;
    border: 1px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.03) !important;
}

/* remove profile color from activities */
.activity_f00225{
    background:var(--bg-mod-faint) !important;
    border-radius: var(--radius-xs);    
}
.buttonColor_f00225{
    background-color: var(--button-secondary-background);
}

/* fix preview of own server profile */
div[class*="customizationSection_"][class*="preview_"] > div[class*="biteSize_"] > div > header > div > div[class*="visibleContainer_"]{
    margin-top:30px;
}
div[class*="customizationSection_"][class*="preview_"] > div[class*="biteSize_"]:has( > div > header > div > div[class*="visibleContainer_"]){
    margin-top:60px;
}


/* Modview color bs... */
.topRow_d936aa,
.bottomRowAction_d936aa,
.header_f51af4,
.container_f51af4 {
    background-color: rgba(43, 45, 49, 0.8) !important;
}

.theme-light.custom-theme-background{
    --theme-base-color: var(--theme-base-color-dark);
    --theme-text-color: var(--theme-text-color-dark);
    --theme-base-color-hsl: var(--theme-base-color-dark-hsl);
	--primary-800: hsl(220 calc(1*8.108%) 7.255% /1);
    --background-floating: hsl(220 calc(1*8.108%) 7.255% /1);
    --text-normal: oklab(0.89908 -0.00192907 -0.0048306);
}

/* replace the dumb quest icon next to a username with the normal activity icon */
svg[class*="questsIcon_"] > path {
	d:path("M 10.368 12.096 L 3.456 12.096 L 3.456 10.368 L 10.368 10.368 L 10.368 12.096 Z M 13.824 8.64 L 3.456 8.64 L 3.456 6.912 L 13.824 6.912 L 13.824 8.64 Z M 13.824 5.184 L 3.456 5.184 L 3.456 3.456 L 13.824 3.456 L 13.824 5.184 Z M 15.36 0 L 1.92 0 C 0.8544 0 0 0.8544 0 1.92 L 0 15.36 C 0 16.4204 0.8596 17.28 1.92 17.28 L 15.36 17.28 C 16.4204 17.28 17.28 16.4204 17.28 15.36 L 17.28 1.92 C 17.28 0.8544 16.416 0 15.36 0 Z");
    fill: currentcolor;
}

/* remove quest available BS when clicking on someone, probably language dependant */
div[id*="popout_"]:has(> div > div > div > div > div > img[alt*="A game tile displaying"]) {
    display:none;
}





/* chang position of edit / delete of your own status */
header > div > div[class*="popover_"]{
    top:40px !important;
}
header > div > div > div[class*="popover_"]{
    top:-50px !important;
    left: calc(100% - 50px);
    position:relative
}

/* change the margin on your own profile-status, when no status is set */
div[class*="container_"]:NOT(div[class*="fullSize_"]) > div[class*="outer_"]:has( > span > svg[class*="addStatusIcon"]){
    margin-top: -90px !important;
}
div[class*="container_"]:has(div[class*="fullSize_"]) > div[class*="outer_"]:has( > span > svg[class*="addStatusIcon"]){
    margin-top: -20px !important;
}
/* reset colors and such */
div[class*="container_"] > div[class*="outer_"]:has( > span > svg[class*="addStatusIcon"]) > span{
    border: 1px solid var(--profile-body-background-color) !important;
    background: none;
    background-color: var(--profile-body-background-color) !important;
    border-radius: var(--radius-xs);
    box-shadow: none;
    max-width: none;
}

/* remove bs container on large profiles */
header > div[class*="headerInner_"] > div[class*="referenceContainer_"] > div[class*="outer_"]{
    display:none;
}

/* reposition status on large profiles */
header > div[class*="headerInner_"] > div[role*="tooltip"]{
    position:unset;
    margin-right: 10px;
    margin-top: -20px;
    margin-left: -20px;
    width: 100%;
}

/* header-height for small profiles, otherwise status sits to high */
header > div[class*="referenceContainer_"]{
    height: 60px;
}

/* unset status positioning on small profile  */
header > div[role*="tooltip"]{
    position:unset;
    width: auto;
}

/* change status design, both small and large profile */
header > div[role*="tooltip"] > div[class*="outer_"],
header > div[class*="headerInner_"] > div[role*="tooltip"] > div[class*="outer_"]  {
    border: 1px solid var(--profile-body-background-color) !important;
    background: none;
    background-color: var(--profile-body-background-color) !important;
    border-radius: var(--radius-xs);
    box-shadow: none;
    max-width: none;
    margin-left: 5px;
    margin-right: 5px;
}

/* remove hover-color */
header > div[role*="tooltip"]:hover{
    --custom-status-bubble-background: unset !important;
}
header > div[class*="headerInner_"] > div[role*="tooltip"]:hover{
    --custom-status-bubble-background: unset !important;
}

/* remove colors from status, both small and large profile */
header > div[role*="tooltip"] > div[class*="outer_"] > span,
header > div[class*="headerInner_"] > div[role*="tooltip"] > div[class*="outer_"] > span{
    background-color: var(--profile-body-background-color) !important;
    margin: 0px;
}

/* remove those bs bubbles, small and large profile */
header > div[role*="tooltip"] > div[class*="outer_"]::before,
header > div[role*="tooltip"] > div[class*="outer_"]::after,
header > div[class*="headerInner_"] > div[role*="tooltip"] > div[class*="outer_"]::before,
header > div[class*="headerInner_"] > div[role*="tooltip"] > div[class*="outer_"]::after {
    display:none;
}


