/* new profile bs */
/* Remove Top-Banner (Image / color( */
header > svg[class*="mask"]{
    display:none;
}
/* Remove top-banner in own profile */
div[class*="accountProfileCard_"] > svg[class*="mask_"]{
    display:none;
}

/* change min-size of popout after removing the banner */
div[class*="biteSizeInner"] > header{
    min-height:0px !important;
}

/* change the margin on your own status on the lower menu bar */
div[class*="biteSizeInner"]:not(:has(> div[class*="wrapper"])) > header > div >
div[class*="visibleContainer_"]:has(> div[class*="popover_"]) > 
div[class*="statusBubbleOuter"]{
    margin-top: 51px;
}
/* fix for the above when you have no status set */
div[class*="statusBubbleOuter"]:has( > span > div > svg[class*="addStatusIcon"]){
    margin-top: 30px;
}

/* changer position of edit / delete of your own status */
header > div > div > div[class*="popover_"]{
    top:40px;
}


/* allow for overflow of the pfp pic after removing banner*/
div[class*="root_bc9cc2"]{
    overflow:visible;
}

/* move pfp  */
header > div[class*="clickable_"]{
    top:-90px !important;
}

/* force collapsing of the header */
div[class*="userPopoutInner_"] > header{
    min-height: 0px !important;
}
/* move the note below pfp pic */
div[class*="visibleContainer_d0a252"]{
    margin-top: 3px;;
    position:inherit;
}

/* disable hover-size-change bs and center-text single lign for status, 3 line bs for bio */
div[class*="content_d0a252"],
div[class*="descriptionClamp_"]{
    max-height: none !important;
    -webkit-line-clamp: 99;
    text-align: left;
}
/* remove view full bio */
button[class*="viewFullBio_"]
{
	display:none;
}

/* remove thougtbubble styling */
div[class*="statusBubbleOuter_"]{
    border:none !important;
    background: none;
    background-color: transparent;
    box-shadow: none;
    max-width: none;
}

/* remove thoughtbubble bs */
div[class*="statusBubbleOuter_"]::before,
div[class*="statusBubbleOuter_"]::after{
    display:none;
}

/* move modview / addfriend / more buttons to where they should be */
.wrapper_cb78f1{
    min-height: 30px;
    position: unset;
    margin-left:auto;
    margin-right: 12px;
    margin-top: 12px;
}
.wrapper_cb78f1:empty{
    display: inherit;
}

/* remove the small bubble bs */
div[class*="invisibleContainer_d0a252"]{
    position:inherit;
    height:0px;
}

/* thoughtbubble background */
span[class*="statusBubble_"]{
    background-color: var(--profile-body-background-color) !important;
    border-radius: var(--radius-xs);
}

/* set max-height for large profile, needed cause of overflow */
div[class*="fullSizeOuter_"]{
    max-height: 100%;
}

/* border + corners detail area */
div[class*="fullSizeOverlayBackground_"]{
	background: oklab(0.431938 0.00109309 -0.0132537 / 0.3) !important;
    border:none;
    border-radius: var(--radius-xs);
}

/* remove bs border from themed profiles */
div[class*="userProfileOuterThemed_"]{
    padding: 0px !important;
}

/* remove white profile color around status */
header > div > div > svg > circle[fill="white"],
div[class*="fullSize_"] > div > svg > circle[fill="white"]{
    fill: none;
}

/* margins for small profile */
div[class*="visibleContainer_d0a252"]:NOT(div[class*="fullSize_d0a252"]){
    margin-right: 10px;
    margin-left: 10px;
}

/* normalize background colors */
div[class*="biteSizeInnerThemed_"] {
    background: oklab(0.260828 0.000630535 -0.0075893) !important;
	overflow:visible;
}
div[class*="fullSizeInnerThemed_"]
{
	overflow:visible;
    background:none;
}

/* normalize role colors */
.container_e5a42d,
.pill_c83b44,
.pill_f9575e,
.button_edead5,
.container_e5a42d {
    background: oklab(0.431938 0.00109309 -0.0132537 / 0.3)!important;
    border: 1px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.03) !important;
}

/* remove profile color from activities */
.activity_cd74cc{
    background:var(--bg-mod-faint) !important;
    border-radius: var(--radius-xs);    
}
.buttonColor_cd74cc{
    background-color: var(--button-secondary-background);
}

/* fix preview of own server profile */
div[class*="customizationSection_"][class*="preview_"] > div[class*="biteSizeOuter_"] > div > header > div > div[class*="visibleContainer_"]{
    margin-top:30px;
}


/* Modview color bs... */
.topRow_d936aa,
.bottomRowAction_d936aa,
.header_f51af4,
.container_f51af4 {
    background-color: rgba(43, 45, 49, 0.8) !important;
}

.theme-light.custom-theme-background{
    --theme-base-color: var(--theme-base-color-dark);
    --theme-text-color: var(--theme-text-color-dark);
    --theme-base-color-hsl: var(--theme-base-color-dark-hsl);
}