/* Profile pictures */
[src="//assets/ac6f8cf36394c66e7651.png"] {
  content: url(https://discord.com/assets/6debd47ed13483642cf09e832ed0bc1b.png);
}
[src="/assets/02b73275048e30fd09ac.png"] {
  content: url(https://discord.com/assets/322c936a8c8be1b803cd94861bdfa868.png);
}
[src="/assets/1b3106e166c99cc64682.png"] {
  content: url(https://discord.com/assets/dd4dbc0016779df1378e7812eabaa04d.png);
}
[src="/assets/b0f31fd761f131079ce0.png"] {
  content: url(https://discord.com/assets/0e291f67c9274a1abdddeb3fd919cbaa.png);
}
[src="/assets/0048cbfdd0b3ef186d22.png"] {
  content: url(https://discord.com/assets/1cbd08c76f8af6dddce02c5138971129.png);
}

/* Preview in Accessibility */
[src="/assets/ac6f8cf36394c66e7651.png"]{
  content: url(https://discord.com/assets/6debd47ed13483642cf09e832ed0bc1b.png);
}

/* Remove profile picture decorations */
svg[class*="avatarDecoration_"]{
    display: none;     
}
img[class*="avatarDecoration_"]{
    display: none;     
}

/* Birthday decorations upsell... */
.wrapper-C1y4Sz{
     display: none;        
}