/* Revert reactions */
[class*="reaction_"] {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned-Tre-dv .reaction-3vwAF2,
.mentioned-Tre-dv .reaction-3vwAF2:hover {
    background-color:var(--background-modifier-accent);
}

[class*="reaction_"] [class*="reactionCount_"] {
  color: var(--text-muted); /* A11Y-- */
}

[class*="reaction_"] [class*="reactionInner_"] {
  padding: 0 .375rem;
}

/* Self reactions */
[class*="reactionMe_"] [class*="reactionCount_"] {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned-Tre-dv .reaction-3vwAF2.reactionMe-1PwQAc,
.mentioned-Tre-dv .reactionMe-1PwQAc.reaction-3vwAF2:hover,
.reaction-3vwAF2.reactionMe-1PwQAc {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
[class*="reaction_"]:hover [class*="reactionCount_"] {
  color: var(--interactive-active) !important;
}

[class*="reaction_"]:hover {
  background-color: var(--background-modifier-selected);
}

[class*="reactionMe_"]:hover {
  background-color: var(--brand-experiment-40a);
}

/* Remove super reactions */
div[aria-label="Add Super Reaction"]{
     display: none;     
}

div[id*="message-actions-add-reaction-1"], 
div[id*="message-add-reaction-1"]{
     display: none; 
}

/* Removes Super Reaction Animations On Hover... */
[class*="shakeReaction"]{
    animation: none !important;
}
[class*="reaction_"]{
    background: var(--background-secondary) !important;
}
[class*="burstGlow_"]{
    box-shadow: none !important;
}
[class*="hideEmoji_"]{
    opacity: 1;
}
[class*="effectsWrapper_"]{
    display:none;
}
[class*="burstReactionTooltipPrompt_"]
{
    display:none;
}
[class*="burstReactionTooltipSpacer_"]{
  border-bottom: 0px;
  background:rgb(35, 37, 41);
}