/* Revert reactions */
[class*="-reaction"] {
  border-radius: .25rem;
  background: var(--background-modifier-selected);

  border: none;
}

.mentioned_d5deea .reaction_f61c73,
.mentioned_d5deea .reaction_f61c73:hover {
    background-color:var(--background-modifier-accent);
}

[class*="-reaction"] [class*="-reactionCount"] {
  color: var(--text-muted); /* A11Y-- */
}

[class*="-reaction"] [class*="-reactionInner"] {
  padding: 0 .375rem;
}

/* Self reactions */
[class*="-reactionMe"] [class*="-reactionCount"] {
  color: var(--brand-experiment); /* A11Y-- */
}

.mentioned_d5deea .reaction_f61c73.reactionMe_f61c73,
.mentioned_d5deea .reactionMe_f61c73.reaction_f61c73:hover,
.reaction_f61c73.reactionMe_f61c73 {
  background-color: var(--brand-experiment-30a);
}

/* Reaction hover */
[class*="-reaction"]:hover [class*="-reactionCount"] {
  color: var(--interactive-active) !important;
}

[class*="-reaction"]:hover {
  background-color: var(--background-modifier-selected);
}

[class*="-reactionMe"]:hover {
  background-color: var(--brand-experiment-40a);
}

/* Remove super reactions */
div[aria-label="Add Super Reaction"]{
     display: none;     
}

div[id*="-message-actions-add-reaction-1"], 
div[id*="-message-add-reaction-1"]{
     display: none; 
}

/* Removes Super Reaction Animations On Hover... */
[class*="shakeReaction"]{
    animation: none !important;
}
[class*="-reaction"]{
    background: var(--background-secondary);
}
[class*="-burstGlow"]{
    box-shadow: none !important;
}
[class*="-hideEmoji"]{
    opacity: 1 !important;
}
[class*="-effectsWrapper"]{
    display:none !important;
}
[class*="-burstReactionTooltipPrompt"]
{
    display:none !important;
}
[class*="-burstReactionTooltipSpacer"]{
  border-bottom: 0px !important;
  background:rgb(35, 37, 41) !important;
}

/* Remove super-reaction completely */
[class*="-reaction"]:has([class*="burstGlow"]) {
  display:none;
}