
/* Remove profile picture decoration options for self */
[class*="premiumFeatureBannerBackground"],
[id*="user-settings-change-avatar-change-avatar-decoration"]{
    display:none;
}

/* Remove Nitro upsell in Profile settings */
[class*="tryItOutSection"]{
  display: none;
}

/* Remove Nitro-option in settings */
div[class*="premiumTab"]{
    display:none;
}

/* Remove "themes" options in appearance */
[class*="selectionGroup__36139"],
[class*="premiumFeatureBorder"]{
  display: none;
}

/* Remove store BS in Profiles*/
.container_d6bff4{
  display:none !important;
}

/* Remove profile effect setting */
[class*="customizationSection"]:has([class*="premiumFeatureBorder"]){
  display:none
}
[class*="customizationSection"]:has([class*="buttonsContainer-1xP-jC"]){
  display:none
}

/* Valorant advert in profiles */
.container__686c4{
    display:none;
}