
/* Remove profile picture decoration options for self */
[class*="premiumFeatureBannerBackground"],
[id*="user-settings-change-avatar-change-avatar-decoration"]{
    display:none;
}

/* Remove Nitro upsell in Profile settings */
[class*="tryItOutSection"]{
  display: none;
}

/* Remove Nitro-option in settings */
div[class*="premiumTab"]{
    display:none;
}

/* Remove "themes" options in appearance - old */
[class*="selectionGroup_bde965"],
[class*="premiumFeatureBorder"]{
  display: none;
}

/* Remove "themes" options in appearance */
[class*="basicThemeSelectors__"]+section
{
  display: none;
}

div[class*="selectionGroup_"]{
    display:none;
}

/* Remove store BS in Profiles*/
.container_da1432{
  display:none !important;
}

/* Remove profile effect setting */
[class*="customizationSection"]:has([class*="premiumFeatureBorder"]){
  display:none
}
[class*="customizationSection"]:has([class*="buttonsContainer_be2933"]){
  display:none
}

/* Valorant advert in profiles */
.container_da1432{
    display:none;
}