:root body{
  --bg-brand: var(--old-blurple);
  --green-360: var(--old-green);
  --green-530: #15562b;
  --green-430: #248045;
  --green-500: #1a6334;
  --brand-500: var(--old-blurple) !important; 
  --brand-560: #5c6fb1;
  --brand-530: #5c6fb1;
  --old-red: #f04747;
  --old-green: #43b581;
  --old-blurple: #7289da;
  /* Revert new green to old color */
  --info-positive-foreground: var(--old-green);
  --status-positive-background: var(--old-green);
  --text-positive: var(--old-green);
  --button-positive-background: var(--old-green);
  --button-outline-brand-background-hover: var(--old-blurple);
    --text-danger: var(--old-red);
  --info-danger-foreground: var(--old-red);
  --status-danger-background: var(--old-red);
  --button-danger-background: var(--old-red);  
  --status-danger: var(--old-red);
  --button-filled-brand-background: var(--old-blurple);
}

/* Selected text */
::selection {
    background-color: #4e5d94;
}

/* Online */
[fill*="#23a55a"]{
  fill: var(--old-green);
}

/* DND */
[fill*="#f23f43"]{
  fill: var(--old-red);
}
